import { NetworkUrlOfChainId, EthRPCEndpoints } from 'common/constants';
const host = 'https://localhost';
const config = {
    restApi: {
        host: host,
        port: 7554
    },
    socketApi: {
        host: host,
        port: 2096
    },
    defaultDneroChainID: NetworkUrlOfChainId[host],
    ethRPCEndpoint: EthRPCEndpoints[host]
};
export default config;
